/* google font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
  font-family: "Merriweather", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* banner styles  */
.section-container {
  width: 1320px;
  height: 600px;
  background-image: url("../images/Banner\ Image.png");
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
}

.section-content h4, h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  
}
.section-content{
  justify-content: center;
  align-items: center;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.section-content h4{
font-size: 24px;
font-weight: 400;
line-height: 30px;
}
.section-content h1{
  font-size: 52px;
font-weight: 800;
line-height: 50px;
margin-top: 20px;
}

/* holiday section */
.holiday-section{
  width: 800px;
  height: 620px;
  margin: 0 auto;
  margin-top: 30px;
}
.holiday-content h1{
  text-align: center;
  color: rgb(255, 0, 0);
font-size: 55px;
font-weight: 700;
line-height: 80px;
}
.holiday-content p{
  color: rgb(255, 0, 0);
font-size: 18px;
font-weight: 400;
line-height: 15px;
text-align: center;
margin-top: 20px;
}
.holiday-content h3 {
  color: rgb(7, 2, 17);
font-size: 28px;
font-weight: 600;
line-height: 40px;
text-align: center;margin-top: 10px;
}
.holiday-image img{
  width: 800px;
  height: 400px;
  margin-top: 50px;
}